# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.lesson2.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\alex1\Documents\GitHub\Geekrains_cs\lesson_2\lesson2\.idea\.idea.lesson2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
